---
import Base from "../../layouts/Base.astro";
import type { MarkdownInstance } from "astro";

interface Frontmatter {
    title: string;
    date: string;
    draft: boolean;
    categories: string[];
    tags: string[];
}

const matches: Record<string, MarkdownInstance<Frontmatter>> = import.meta.glob(
    "./*.md",
    { eager: true }
);

const posts: MarkdownInstance<Frontmatter>[] = Object.values(matches);

const sortedPosts: MarkdownInstance<Frontmatter>[] = posts
    .filter((post) => !post.frontmatter.draft)
    .sort(
        (a, b) =>
            new Date(b.frontmatter.date).valueOf() -
            new Date(a.frontmatter.date).valueOf()
    );

export const title = "Blog";
---

<Base title="Blog Posts">
    <div class="posts-container">
        <h1>Blog Posts</h1>
        <ul class="post-list">
            {
                sortedPosts.map((post) => (
                    <li class="post-item">
                        <time datetime={post.frontmatter.date}>
                            {new Date(post.frontmatter.date).toLocaleDateString(
                                "en-US",
                               {
                                    year: "numeric",
                                    month: "long",
                                    day: "numeric",
                                }
                            )}
                        </time>
                        <a href={post.url} class="post-link">
                            <h2>{post.frontmatter.title}</h2>
                        </a>
                        {post.frontmatter.categories && (
                            <div class="categories">
                                {post.frontmatter.categories.map(
                                    (category: string) => (
                                        <span class="category">{category}</span>
                                    )
                                )}
                            </div>
                        )}
                    </li>
                ))
            }
        </ul>
    </div>
</Base>

<style>
  a {
    color: var(--text-color);
  }

  a:hover {
    color: var(--secondary-color);
  }
</style>
