<nav>
  <div class="header__logo">
    <a href="/" aria-label="Home">
      <img src="/assets/logo.png"></img>
    </a>
  </div>

  <ul>
    {{ for item of collections.navigation }}
      <li>
        <a href="{{ item.url }}">{{ item.data.title }}</a>
      </li>  
    {{ /for }}
  </ul>
</nav>

