<nav>
  <ul>
    <li>
      <a href="/" aria-label="Home">
        <img src="/assets/logo.png" style="height: 64px; width: auto;">
      </a>
    </li>
  </ul>
  <ul>
    {{ for collection of collections.navigation }}
      <li><a href={{ collection.page.url }}>{{ collection.data.title }}</a></li>
    {{ /for }}
  </ul>
</nav>

