<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/pico.min.css">
  <link rel="stylesheet" href="/styles/index.css">
  <title>{{ title }}</title>

</head>

<body class="container">
  {{ include "site-core/header.vto" }}
  <section>
    {{ content }}
  </section>
  {{ include "site-core/footer.vto" }}
</body>

</html>