:root {
  --secondary-color: #E26D5C;
}


.dark {
  --background-color: #3A4547;
  --secondary-background-color: #4A5759;
  --text-color: #FFE1A8;
  --accent-color: #C9CBA3;
}

.light {
  --background-color: #FFF;
  --secondary-background-color: #eeeeee;
  --text-color: #3A4547;
  --accent-color: #546A76;
}
