html,
body {
    font-family: sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
}

main {
    padding: 1rem 10%;
}

@media (min-width: 992px) {
  main {
    padding-left: 20%;
    padding-right: 20%;
  }
}

a {
    color: var(--text-color);
}

a:hover {
    color: var(--secondary-color);
}