{{ layout "site-core/page-base.vto" }}
<main>
  {{ include "components/page-title.vto" { title: title } }}
  {{ for item of collectionToList }}
    {{ if !item.data.draft }}
    <div class="p-2 m-2 bg-gray-300 border-1">
      <a href="{{ item.url }}">
        <h3 class="archive__card-title">{{ item.data.title }}</h3>
      </a>
    </div>
    {{ /if }}
  {{ /for }}
</main>
{{ /layout }}
