{{ layout "site-core/page-base.vto" }}
<main class="">

  {{ include "components/page-title.vto" { title: title } }}
  {{ include "components/back-button.vto" { prevPageName: "posts listing" } }}

  <div id="post_content" class="my-5">
    {{ content }}
  </div>

  {{ include "components/back-button.vto" { prevPageName: "posts listing" } }}

</main>
{{ /layout }}
