{{ layout "site-core/page-base.vto" }}
<main>

  {{ include "components/back-button.vto" { prevPageName: "Blog Posts" } }}
  <br>
  {{ include "components/page-title.vto" { title: title } }}

  <div id="post_content">
    {{ content }}
  </div>

</main>
{{ /layout }}