{{ layout "site-core/page-base.vto" }}
<main>

  {{ include "components/page-title.vto" { title: title } }}
  {{ include "components/back-button.vto" { prevPageName: "posts listing" } }}
  <br>

  <div id="post_content">
    {{ content }}
  </div>

</main>
{{ /layout }}