@import "../../../node_modules/nord/src/sass/nord.scss";

$dark: (
    footer-background-color: $nord1,
    footer-color: $nord4, 
    link: $nord4,
    link-hover: $nord6,
    title-color: $nord7,
    meta-color: $nord4,
    body-color: $nord4,
    hr-color: $nord3,
    body-background-color: $nord0,
    backdrop-background-color: $nord1,
    dropdown-border-top-color: #424242,
    dropdown-item-active-background-color: #424242,
    dropdown-content-background-color: #595B5C,
    dropdown-item-hover-background-color: $nord4,
    dropdown-item-hover-color: $nord4,
    dropdown-item-color: $nord4,    
    navbar-border-bottom-color: #4e4e4e,
    navbar-background-color: $nord1,
    navbar-mobile-background-color: #3a3a3a,
    navbar-title-color: $nord5,
    navbar-title-hover-color: $nord7,
    navbar-title-active-color: $nord9,
    navbar-menu-hover-background-color: lighten(#403E41, 5%),
    navbar-dropdown-item-hover-color: $nord7,
    sidebar-title-color: $nord7,
    sidebar-li-color: $nord4,
    taxo-title-color: $nord7,
    taxo-num-color: $nord4,
    taxo-num-background-color: $nord1,
    taxo-tags-background-color: $nord1,
    taxo-tags-color: $nord4,
    taxo-series-background-color: $nord1,
    taxo-series-color: #EA9C77,
    taxo-categories-background-color: $nord1,
    taxo-categories-color: lighten($nord8, 5%),
    breadcrumb-item-color: $nord8,
    breadcrumb-background-color: $nord1,
    breadcrumb-item-active-color: #bdbdbd,
    list-header-title-color: $nord4,
    figcaption-color: #bdbdbd,
    figcaption-strong-color: $nord4,
    single-hr-background-color: #595B5C,
    single-blockquote-border-color: $nord4,
    single-header-title-color: $nord4,
    single-contents-title-color: $nord7,
    single-contents-subtitle-color: $nord4,
    related-header-title-color: $nord4,
    related-link-color: #A9DC76,
    content-box-border-color: #616161,
    content-box-background-color: #403E41,
    burger-menu-color: $nord4,
    social-icon-color: #bdbdbd,
    social-icon-hover-color: lighten(#bdbdbd, 20%),
    pagination-link-color: #82aaff,
    pagination-background-color: $nord1,
    pagination-disabled-color: #757575,
    pagination-number-color: $nord4,
    terms-title-color: #ddd,
    terms-title-shadow-color: #403E41,
    terms-tags-color: #78DCE8,
    terms-categories-color: #AB9DF2,
    terms-series-color: #EA9C77,
    terms-len-color: $nord4,
    toc-label-color: $nord4,
    toc-title-color: #90a4ae,
    toc-vertical-line: $nord4,
    toc-vertical-line-active: $nord9,
    toc-header-background-color: $nord1,
    toc-header-background-color-hover: $nord3,
    toc-body-background-color: $nord1,
    search-placeholder-color: $nord4,
    search-color: $nord4,
    search-icon-color: $nord4,
    search-border-color: $nord3,
    search-border-outline-color: rgba(66, 66, 66, 0.45),
    search-border-active-color: darken($nord4, 20%),
    search-content-color: inherit,
    search-background-color: darken($nord0, 10%),
    search-content-background-color: lighten(#403E41, 5%),
    search-hover-background-color: #403E41,
    search-highlight-color: #508dffec,
    selection-color: $nord4,
    selection-background-color: #508dffec,
    archive-key-color: $nord4,
    archive-type-color: #82aaff,
    archive-meta-color: #aed581,
    archive-key-background-color: #508dffec,
    archive-type-background-color: #424242,
    archive-hover-line-color: #508dffec,
    gtt-color: #bdbdbd,
    gtt-background-color: #403E41,
    gtt-hover-color: #82aaff,
    gtt-hover-background-color: lighten(#403E41, 5%),
    switch-background-color: #403E41,
    switch-button-color: $nord4,
    switch-active-color: #508dffec,
    gallery-mask-color: $nord4,
    gallery-mask-background-color: rgba(0, 0, 0, 0.7),
    contact-input-color: $nord4,
    contact-input-background-color: lighten(#403E41, 5%),
    contact-button-background-color: lighten(#403E41, 5%),
    custom-scrollbar-foreground-color: #888,
    custom-scrollbar-background-color: #eee,
    share-color: #dbdbdb,
    share-shadow-color: #888,
    share-background-color: lighten(#403E41, 2.5%),
    donation-background-color: #525252,
    button-primary-color: $button_dark_primary_color,
);