---
import Single from "../layouts/Single.astro";
---

<Single title="Welcome to my website!">
    <p>Just a guy doin' things</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</Single>
