---
import "../styles/colorscheme.css";
---

<footer class="footer">
    <p>Footer</p>
</footer>

<style>
    .footer {
        background-color: var(--background-color);
        color: var(--text-color);
    }
</style>