{{ if $.Param "enableWhoami" }}
<div class="whoami__gutter"></div>
<hr class="hr-slash whoami-hr"/>
<section class="whoami">
  <div class="whoami__contents">
    <div class="whoami__written-by">
      {{ T "single-writtenBy" }}
    </div>
    <div class="whoami__title">
      {{ if $.Param "author" }}
        {{ $.Param "author" }}
      {{ else }}
        {{ $.Param "myname" }}
      {{ end }}
    </div>
    <div class="whoami__desc">
      {{ if $.Param "authorDesc" }}
        {{ $.Param "AuthorDesc" }}
      {{ else }}
        {{ print .Site.Params.jobtitle }}
      {{ end }}
    </div>
    <div class="whoami__social">
      {{ range $name, $path := $.Param "socialOptions" }}
      {{ if $path }}
      <a href="{{ $path | safeURL }}" title="{{ $name }}" aria-label="{{ $name }}">
        {{ partial (print "svgs/social/" $name ".svg") (dict "width" 25 "height" 25) }}
      </a>
      {{ end }}
      {{ end }}
    </div>
  </div>
</section>
<hr class="hr-slash whoami-hr" />
{{ end }}
